<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ site.author }}" name="author">
  <meta content="{{ site.description }}" name="description">
  {% if page.url == "/" %}
  <title>{{ site.title }}</title>
  {% elsif paginator %}
  <title>{{ site.title }} - Page {{ paginator.page }}</title>
  {% else %}
  <title>{{ site.title }}{% assign exist_or_not = page.title | size %}{% if exist_or_not < 1 %} - Status{% else %} - {{ page.title }}{% endif %}</title>
  {% endif %}
  <link href="{{site.cdnurl}}/assets/yinshui/css/style.css" rel="stylesheet">
  <link href="{{site.cdnurl}}/assets/yinshui/css/highlight.css"rel="stylesheet">
  <link href="{{site.cdnurl}}/assets/yinshui/images/fav32.png" sizes="32x32" rel="icon">
  <link href="{{site.cdnurl}}/assets/yinshui/images/fav192.png" sizes="192x192" rel="icon">
  <link href="/feed.json" title="{{ site.title }}" type="application/json" rel="alternate">
  <link href="/feed.xml" title="{{ site.title }}" type="application/rss+xml" rel="alternate">
  <script data-isso="http://localhost:8080/comments/" src="http://localhost:8080/comments/js/embed.min.js"></script>
</head>
<body>
  {% include navigation.html %}
  {% if page.profile %}
  {% include profile.html %}
  {% endif %}
  <section id="wrapper"{% if page.url == "/about/" %} class="bio"{% endif %}>
    {{ content }}
  </section>
  <footer id="footer">
    {% include footer.html %}
  </footer>
</body>
</html>
